.card{
    border: 5px solid rgba(255, 255, 255, 0);
    color: white;
}

.aboutus_special_class{
    margin-top: 50px;
}

body{
    color: white;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_margin{
    margin: 50px;
}

h1{
    align-items: center;
    display: flex;
    justify-content: center;
}




.last_div{
    min-height: 300px;
    width: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.405);
    color: white;
    margin-top: 40px;

}

.last_div a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.socials a{
    margin-top: 20px;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.socials a:hover{
    background-color: rgb(7, 155, 241);
}

.address{
    margin-top: 20px;
    font-size: 16px;
}



.navbar-brand span{
    color: red;
}


/* sponsors */

  .sponsor_image{
    width: 100px;
    height: 100px;
    animation: scroll 30s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider {
    margin-top: 70px;
    background-color: whitesmoke;
    padding: 8em 2em;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }



  /* Last design */

  #developer{
    color: rgba(111, 173, 123, 0.774);
    margin-top: 20px;
}

.hovering:hover{
    color: rgb(7, 155, 241);
}